body{
    display: flex;
    background-color: rgb(172, 206, 219);
    justify-content: center;
    align-items: center;

    /*A propriedade height no CSS é usada para definir a altura da área de conteúdo de um elemento. Essa área de conteúdo inclui o padding, mas não inclui a borda, a margem ou o padding do elemento1.

Aqui estão alguns pontos importantes sobre a propriedade height:

Valores: Pode ser definida em várias unidades, como pixels (px), porcentagem (%), em (em), entre outras.
Auto: O valor padrão é auto, o que significa que o navegador calcula a altura com base no conteúdo do elemento.
Porcentagem: Quando definida em porcentagem, a altura é calculada em relação à altura do elemento pai.
Min-height e Max-height: As propriedades min-height e max-height podem ser usadas para definir limites mínimo e máximo para a altura de um elemento*/
    height:100vh;
}

.formulario {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: center;
    CO    
}